<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} ^/api/auth/(.*)$ [NC]
    RewriteRule ^(.*)$ /auth/public/index.php/$1 [L]

    RewriteCond %{REQUEST_URI} ^/api/products(.*)$ [NC]
    RewriteRule ^(.*)$ /product/public/index.php/$1 [L]

    RewriteCond %{REQUEST_URI} ^/api/product-categories(.*)$ [NC]
    RewriteRule ^(.*)$ /product/public/index.php/$1 [L]

    RewriteCond %{REQUEST_URI} ^/api/brands(.*)$ [NC]
    RewriteRule ^(.*)$ /product/public/index.php/$1 [L]

    RewriteCond %{REQUEST_URI} ^/api/reviews(.*)$ [NC]
    RewriteRule ^(.*)$ /product/public/index.php/$1 [L]

    RewriteCond %{REQUEST_URI} ^/(.*)$ [NC]
    RewriteRule ^(.*)$ /admin/public/$1 [L]

</IfModule>
